<html ng-app="ContactApp">

<head>
    <script src="./angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">   
</head>

<body >
    
    <div class="container" ng-controller="ContactCtrl as ctrl">
        <h1>ContactApp{{1+1}}</h1>
        <div class="row">
            <ul class="list-group" >
                <li ng-click="ctrl.selectUser($index)" class="list-group-item" ng-repeat="user in ctrl.users">
                    <span>{{user.name.first+" "+user.name.last}}</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img ng-src="{{ctrl.selectedUser.picture.medium}}"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ctrl.selectedUser.name.first+" "+ctrl.selectedUser.name.last}}</h4>
                
                    <p>
                        <h6>location</h6>
                    </p>
                    <p>
                        {{ctrl.selectedUser.location.street+" "+ctrl.selectedUser.location.city+" "+ctrl.selectedUser.state}}
                    </p>
                
                    <p>
                        <h6>phone</h6>
                    </p>
                    <p>
                        {{ctrl.selectedUser.cell}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="app.js"></script>
<script src="appConfig.service.js"></script>
<script src="./appFactory.service.js"></script>
<script src="./appname.service.js"></script>
<script src="./user.controller.js"></script>
<script src="./userdata.service.js"></script>
</html>